<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>initPage</servlet-name>
		<servlet-class>com.devia.controller.initPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>initPage</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>nextPage</servlet-name>
		<servlet-class>com.devia.controller.nextPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>nextPage</servlet-name>
		<url-pattern>/pageAction</url-pattern>
	</servlet-mapping>
</web-app>